<label for="password-confirmation">Password Confirmation</label>
{{input type="password"
        id="password-confirmation"
        placeholder="Password Confirmation"
        value=password}}

<!-- no quotes on password because it is a variable and NOT A STRING -->
